@*@model _4._07._23_2_.Models.Firma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kurulusYili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kurulusYili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSahibi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSahibi.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@