@model _4._07._23_2_.Models.IsSahibi
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giriş Sayfası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
     @using (Html.BeginForm("IsSahibiIndex", "Login", FormMethod.Get))
    {
        <div class="container">
            @ViewBag.hata
            <h2>İlan Vermek İçin Giriş Yapın</h2>
            <div class="form-group">
                @Html.LabelFor(m=>m.mail)
                @Html.TextBoxFor(m=>m.mail,new{@class="form-control",placeholder="Mail Adresi"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.KullanıcıSifresi)
                @Html.PasswordFor(m=>m.KullanıcıSifresi,new{@class="form-control",placeholder="Mail Adresi"})
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
     }
        <div class="container" style="position:absolute;left:250px;top:350px">
            <label>Kayıtlı Değil Misin?</label>
            @Html.ActionLink("Üye ol","Create","IsSahibis")
        </div>

    


</body>
</html>
