
@{
    ViewData["Title"] = "Bilgilerim";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>Bilgileriniz</h1>


<p> @ViewData["ad"]
    @ViewData["soyad"]
    @ViewData["mail"]
    @ViewData["telno"]
    @ViewData["sehir"]
    @ViewData["ilce"]
    @ViewData["dogum"]
    @ViewData["egitim"]
    @ViewData["cinsiyet"]
</p>

